<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.agera.com.locationwidget">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".map.MapActivity" />
        <activity
            android:name=".login.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.SignInActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".base.MainActivity" />

        <activity android:name=".location.PositionActivity" />


        <!--App Deamon-->
        <service android:name=".utils.CommonUtils$DaemonService" />
        <receiver android:name=".utils.CommonUtils$BootReceiver">
            <intent-filter>
                <action android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file"></data>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="2da946d4a48ce9b1045ddd8c" />
    </application>

</manifest>